body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
  color: black;
}

label {
  width: 65px;
  text-align: right;
  padding-right: 5px;
  font-size: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-bottom: 32px;
}

.description {
  white-space: pre-wrap;
  background-color: beige;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  height: 80px;
  border-top: 1px solid white;
  ;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #7dfcde;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  height: 52px;
  width: 52px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.lead {
  margin-bottom: 10px;

}

#success {
  position: relative;
  z-index: 100;
  text-align: center;
  min-height: 16px;
  

}